body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
}
main {
    background-color: beige;
}
#play-ground {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #bc6c25;
    border: 0;
}

.square {
    border: 2px solid beige;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.active {
    background-color: #606c38;
    color: black;
}

#game-over {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.666);
    z-index: 3;
    cursor: pointer;
}

#score-counter {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    background-color: wheat;
}
